# /etc/systemd/system/bluetooth-visibility.service

[Unit]
Description=Set Bluetooth Visibility On
After=bluetooth.service sys-subsystem-bluetooth-devices-hci0.device
Requires=bluetooth.service sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/hciconfig hci0 piscan
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=bluetooth.target
