# /etc/systemd/system/isoblue@.service

[Unit]
Description=ISOBlue Server on Channel %I
After=bluetooth.service isoblue-interfaces.service sysinit.target
Requires=bluetooth.service isoblue-interfaces.service

[Service]
ExecStart=/usr/bin/isoblued --channel %I /tmp/isoblue%I.log ib_eng ib_imp
Restart=always

[Install]
Alias=multi-user.target.wants/isoblue@2.service
WantedBy=multi-user.target
