# /etc/systemd/system/isoblue@.service

[Unit]
Description=ISOBlue Daemon on Channel %I
After=bluetooth.service isoblue-interfaces.service tmp.mount
Requires=bluetooth.service isoblue-interfaces.service tmp.mount
Conflicts=can-log@%i.service

[Service]
ExecStartPre=-/usr/bin/isoblued --version
ExecStart=/usr/bin/isoblued -c %I -b 6 /tmp/isoblue%I.log ib_eng ib_imp
ExecStopPost=/bin/mv /tmp/isoblue%I.log /var/log/isoblue%I.log
Restart=always
RestartSec=1
StartLimitInterval=1

[Install]
Alias=multi-user.target.wants/isoblue@2.service
WantedBy=multi-user.target
