# /etc/systemd/system/isoblue-interfaces.service

[Unit]
Description=Bring CAN Interfaces Up
After=sys-subsystem-net-devices-ib_eng.device sys-subsystem-net-devices-ib_imp.device
Requires=sys-subsystem-net-devices-ib_eng.device sys-subsystem-net-devices-ib_imp.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ifconfig ib_eng down
ExecStart=/sbin/ifconfig ib_imp down
ExecStart=/bin/ip link set ib_eng type can bitrate 250000
ExecStart=/bin/ip link set ib_imp type can bitrate 250000
ExecStart=/sbin/ifconfig ib_eng up
ExecStart=/sbin/ifconfig ib_imp up
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
